a{
    text-decoration: none !important;
}
.nav-link{
    color: rgb(102, 102, 102) !important;
}
.btn-fill-primary, .btn-primary{
    color: #212529;
    background-color: #fdbb18;
    border-color: #fdbb18;
}
.btn-fill-primary:hover,.btn-primary:hover{
    background-color: #c78e02;
    color: #212529;
    border-color: #c78e02;
}

.website_forum .o_wforum_nav .nav-link.active {
    background-color: rgba(102, 102, 102, 0.1);
    color: #404040 !important;
}

.text-reset{
    color: rgb(0, 33, 71) !important;

}
.o_wforum_nav{
    margin-left: 0 !important;
}
.container nav{
    width: 100% !important;
    border: none !important;
    margin-left: 0rem !important;
}
.dropdown{
    color: rgb(0, 33, 71)
}
.text-center{
    color: rgb(102, 102, 102);
}
label{
    color: rgb(102, 102, 102);
}
/* .o_wforum_forum_card_bg {
    background-image: linear-gradient(
        99deg
        , #002147 10%, #000914 90%);
} */
.s_parallax_bg{
    background-image: linear-gradient(
        99deg
        , #002147 10%, #000914 90%) !important;
}
.btn-secondary{
    background-color: rgb(0, 33, 71) !important;
}
.font-weight-bold{
    color: rgb(51, 51, 51);
}
.font-weight-bold:hover{
    color: #c78e02;
    
}
.d-none a:hover{
    color: #c78e02 !important;
}
.mt-4{
    color: rgb(0, 33, 71);
}
.lead{
    color: rgb(102, 102, 102);
}
.card-header b ,.card-header i{
    color: rgb(51, 51, 51) !important;   
}
.mb-4{
    color: rgb(0, 33, 71);
}
.page-link{
    color: rgb(0, 33, 71) !important;
    background-color: #fdbb18 !important;
    border: #fdbb18;
}
.o_wprofile_all_users_header{
    background-image: linear-gradient(
        99deg
        , #002147 10%, #000914 90%) !important;
}
.w-100 span{
    color:rgba(102, 102, 102, 0.7) !important;
}
.d-inline{
    color: rgb(0, 33, 71);
}
.my-0{
    color: rgb(0, 33, 71);
}
.small.mt-2.mb-1{
    color: rgb(102, 102, 102);
}
.small.mt-2.mb-1 b{
    color: rgb(102, 102, 102);
}
.o_wforum_readable p{
    color: rgb(102, 102, 102) ;
}
.o_wprofile_header{
    background-image: linear-gradient(
        99deg
        , #002147 10%, #000914 90%) !important;
}
.o_wprofile_header::before{
    background-image: linear-gradient(
        99deg
        , #fdbb18 10%, white 90%) !important;
}
.nav-tabs{
    color: white;
}
.card-body span:not(.badge){
    color: rgb(0, 33, 71);
}
.badge-info{
    background: #212529;
}
.o_wforum_author_box span{
    color: rgb(102, 102, 102);
}
.fa-building-o{
    color: white;
}
.fa-map-marker{
    color: white;
}
.d-flex.flex-column.justify-content-center.flex-grow-1.mb-0.mb-md-5 span{
    color: white;
}